<h1>Resource Input Form</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <!-- Resource Name -->
    <div class="form-group">
      <label for="employee_Name">Resource Name<span class="required-field">*</span></label>
      <input type="text" formControlName="employee_Name" placeholder="Give full name">
      <span class="validation-message"
        *ngIf="myForm.get('employee_Name')?.hasError('required') && (myForm.get('employee_Name')?.touched || myForm.get('resource_Name')?.dirty)">
        Resource name is required.
      </span>
    </div>

    <!-- Designation -->
    <div class="form-group">
      <label for="designation_Name">Designation<span class="required-field">*</span></label>
      <select name="" id="designation_Name" [value]="null" formControlName="designationId" >
        <option [value]="null" hidden selected>Select Designation</option>
        <option *ngFor="let designation of designations" [value]="designation.designationId">{{
          designation.designation_Name }}</option>
      </select>
      <!-- <input type="text" formControlName="designationId" placeholder="Ex. Trainee, Developer" list="designationList">
      <datalist id="designationList">
        <option *ngFor="let item of designations" [value]=""></option>
      </datalist> -->
      <span class="validation-message"
        *ngIf="myForm.get('designation_Name')?.hasError('required') && (myForm.get('designation_Name')?.touched || myForm.get('designation')?.dirty)">
        Designation is required.
      </span>
    </div>
  </div>
  <!-- Reporting To -->
  <div class="form-row">
    <div class="form-group">
      <label for="reportingToName">Reporting To<span class="required-field">*</span></label>
      <!-- <input type="text" formControlName="managerId" placeholder="Manager/Supervisor" list="reportingToList"> -->
      <select name="" id="reportingToName" [value]="null" formControlName="managerId">
        <option [value]="null" hidden selected>Select Manager</option>
        <option *ngFor="let manager of ManagerList" [value]="manager?.managerId">{{
          manager?.manager_Name }}</option>
      </select>
      <!-- <datalist id="reportingToList">
        <option *ngFor="let item of reportingToList" [value]="item"></option>
      </datalist> -->

      <span class="validation-message"
        *ngIf="myForm.get('reportingToName')?.hasError('required') && (myForm.get('reportingToName')?.touched || myForm.get('reportingTo')?.dirty)">
        Reporting manager name is required.
      </span>
    </div>

    <!-- Billable -->
    <div class="form-group">
      <label for="billable">Billable<span class="required-field">*</span></label>
      <select formControlName="billable">
        <option value="" disabled selected>Select Billable status</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
      <span class="validation-message"
        *ngIf="myForm.get('billable')?.hasError('required') && (myForm.get('billable')?.touched || myForm.get('billable')?.dirty)">
        Billable status is required.
      </span>
    </div>
  </div>
  <!-- Technology Skill -->
  <label for="skills">Technology/Skill<span class="required-field">*</span></label>
  <ng-select formControlName="skillsIds" [items]="skills_array" bindLabel="skill_Name" bindValue="skillId"
    [multiple]="true" [searchable]="true" [closeOnSelect]="false" [clearable]="true">
  </ng-select>
  <!-- <input type="text" formControlName="skills" placeholder="Write about skills" list="skillsList">
  <datalist id="skillsList">
    <option *ngFor="let item of skills_array" [value]="item"></option>
  </datalist> -->
  <span class="validation-message"
    *ngIf="myForm.get('skills')?.hasError('required') && (myForm.get('skills')?.touched || myForm.get('technology_Skill')?.dirty)">
    Technology/Skill is required.
  </span>

  <div class="form-row">
    <!-- Project Allocation -->
    <div class="form-group">
      <label for="projects">Project Allocation<span class="required-field">*</span></label>
      <!-- <input type="text" formControlName="projects" placeholder="Assigned project name" list="projectList">
      <datalist id="projectList">
        <option *ngFor="let item of projects_array" [value]="item"></option>
      </datalist> -->
      <ng-select formControlName="projectsIds" [items]="projects_array" bindLabel="project_Name" bindValue="projectId"
        [multiple]="true" [searchable]="true" [closeOnSelect]="false" [clearable]="true">
      </ng-select>
      <span class="validation-message"
        *ngIf="myForm.get('projects')?.hasError('required') && (myForm.get('projects')?.touched || myForm.get('project_Allocate')?.dirty)">
        Project Allocation is required.
      </span>
    </div>

    <!-- Location -->
    <div class="form-group">
      <label for="location_Name">Location<span class="required-field">*</span></label>
      <select name="" id="location_Name" [value]="null" formControlName="locationId">
        <option [value]="null" hidden selected>Select Location</option>
        <option *ngFor="let location of locations" [value]="location.locationId">{{
          location.location_Name }}</option>
      </select>
      <!-- <input type="text" formControlName="location_Name" placeholder="Current working location" list="locationList">
      <datalist id="locationList">
        <option *ngFor="let item of locations" [value]="item"></option>
      </datalist> -->
      <span class="validation-message"
        *ngIf="myForm.get('location_Name')?.hasError('required') && (myForm.get('location_Name')?.touched || myForm.get('location')?.dirty)">
        Location is required.
      </span>
    </div>
  </div>
  <div class="form-row">
    <!-- Email Id -->
    <div class="form-group">
      <label for="emailId">Email Id<span class="required-field">*</span></label>
      <input type="text" formControlName="emailId" placeholder="Write Email Id here">
      <span class="validation-message"
        *ngIf="myForm.get('emailId')?.hasError('required') && (myForm.get('emailId')?.touched || myForm.get('emailId')?.dirty)">
        Email is required.
      </span>
      <span class="validation-message"
        *ngIf="myForm.get('emailId')?.hasError('email') && (myForm.get('emailId')?.touched || myForm.get('emailId')?.dirty)">
        Enter a valid email.
      </span>
    </div>

    <!-- CTE_DOJ -->
    <div class="form-group">
      <label for="ctE_DOJ">CTE_DOJ<span class="required-field">*</span></label>
      <input type="date" formControlName="ctE_DOJ" placeholder="Date of Joining">
      <span class="validation-message"
        *ngIf="myForm.get('ctE_DOJ')?.hasError('required') && (myForm.get('ctE_DOJ')?.touched || myForm.get('ctE_DOJ')?.dirty)">
        Date of joining is required.
      </span>
    </div>
  </div>

  <!-- Remarks -->
  <label for="remarks">Remarks</label>
  <input type="text" formControlName="remarks" placeholder="Write remarks here...">

  <!-- Submit Button -->
  <button type="submit" [disabled]="!myForm.valid">Submit</button>

</form>