@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{ 
  --kendo-color-primary: #9ce3d4;
  --kendo-color-primary-hover:#9ce3d4 ;
  --kendo-color-primary-on-surface: #51d6b9;
  --kendo-color-primary-active: #9ce3d4;
  --kendo-color-error: #f70606;
}
.ng-select-container {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  font-size: 0.95rem;
  background-color: #fff;
}
 
.ng-select-container.ng-has-value {
  padding: 5px 12px;
}
 
.ng-select-container:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.15);
}
 
/*  */
 
.ng-dropdown-panel {
  /* margin-top: 10px; */
  border-radius: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
 
.ng-option {
  padding: 6px 7px;
  /* border: 1px solid #ccc; */
  transition: all 0.3s ease;
  font-size: 0.95rem;
  background-color: #fff;
}
 
.ng-value {
  margin: 2px 3px;
  padding: 5px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 0.85rem;
  display: flex;
  flex-direction: row-reverse;
}
 
.ng-value-icon {
  margin-left: 8px;
  cursor: pointer;
  color: #888;
}
 
.ng-option-marked {
  background-color: #d2e4ff;
  color: #1a1a1a;
}
 
.ng-option-selected {
  background-color: #61a0ff;
  color: white;
}


