<h1>Resource Details</h1>
<div *ngIf="employeeDetails">
  <span><label>EMP ID:</label>   {{ 'E' + (employeeDetails.empId.toString().padStart(4, '0')) }}</span>
  <span><label>Resource Name:</label> {{employeeDetails.employee_Name}}</span>
  <span><label>Designation:</label> {{employeeDetails.designation_Name}}</span>
  <span><label>Reporting To:</label> {{employeeDetails.reportingToName}}</span>
  <span><label>Billable:</label> {{employeeDetails.billable}}</span>
  <span><label>Technology/Skill:</label> {{employeeDetails.skills}}</span>
  <span><label>Project Allocation:</label> {{employeeDetails.projects}}</span>
  <span><label>Location:</label> {{employeeDetails.location_Name}}</span>
  <span><label>Email Id:</label> {{employeeDetails.emailId}}</span>
  <span><label>CTE DOJ:</label> {{employeeDetails.ctE_DOJ}}</span>
  <span><label>Remarks:</label> {{employeeDetails.remarks}}</span>
  
</div>
