<h1>Resource Details</h1>
<div>
  <span><label>EMP ID:</label>   {{ 'E' + (employeeDetails.empId.toString().padStart(4, '0')) }}</span>
  <span><label>Resource Name:</label> {{employeeDetails.resource_Name}}</span>
  <span><label>Designation:</label> {{employeeDetails.designation}}</span>
  <span><label>Reporting To:</label> {{employeeDetails.reportingTo}}</span>
  <span><label>Billable:</label> {{employeeDetails.billable}}</span>
  <span><label>Technology/Skill</label> {{employeeDetails.technology_Skill}}</span>
  <span><label>Project Allocation:</label> {{employeeDetails.project_Allocate}}</span>
  <span><label>Location:</label> {{employeeDetails.location}}</span>
  <span><label>Email Id:</label> {{employeeDetails.emailId}}</span>
  <span><label>CTE DOJ:</label> {{employeeDetails.ctE_DOJ}}</span>
  <span><label>Remarks:</label> {{employeeDetails.remarks}}</span>
  
</div>
